muleapp1/src/main/mule/muleapp1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="54c9307c-4a28-4bef-9e84-060745b95b49" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleapp1Flow" doc:id="0fe021c3-4c83-44e8-a95a-ef4d86c92e58" >
		<http:listener doc:name="Listener" doc:id="3f022898-70f4-4323-a509-aa97c8a63595" config-ref="HTTP_Listener_config" path="/muleapp"/>
		<set-payload value='#["Hello world"]' doc:name="Set Payload" doc:id="d1bc69bf-75ba-4021-80a0-a4bc908408ec" />
	</flow>
</mule>
